/* General layout */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f1f1;
    flex-direction: column;
}
.game-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.game-columns {
    display: flex;
    justify-content: space-between;
    height: 360px;
}

/* Example block styles */
.example-container {
    display: flex;
    flex-direction: column;
}
.example {
    font-size: 24px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.answer-input {
    font-size: 20px;
    width: 100px;
    padding: 0;
    margin: 0;
}
.answer-input:disabled {
    background-color: lightgray;
}

/* Cube block styles */
.cubes-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: end;
    gap: 8px;
}
.cube {
    width: 28px;
    height: 28px;
    background-color: #4CAF50;
    opacity: 0;
    animation: none;
}

/* Animation for falling cubes */
@keyframes fall {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Button styles */
button.submit-btn {
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #A9A9A9;
    color: white;
    border: none;
    cursor: pointer;
}
button.submit-btn.right {
    background-color: #228B22;
}
button.submit-btn.enabled {
    background-color: #228B22;
    cursor: pointer;
}
button.submit-btn.wrong {
    background-color: #FA8072;
}
button.submit-btn:hover {
    background-color: #AFEEEE;
}
button.submit-btn:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}